venv/*
collection/temp/*
collection/FANTASY/z_scores.csv
collection/FANTASY/total_z_scores.csv
collection/FANTASY/player_data_fb.csv
collection/FANTASY/player_cols.csv
collection/FANTASY/money_table2.csv
collection/FANTASY/money_table.csv
collection/FANTASY/fb_avg_data.csv
collection/FANTASY/draft.txt
collection/firstdb.db
collection/firstdb.db.wal
!.gitignore